{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "parserOptions": {
    "ecmaVersion": 2020,
    "sourceType": "module",
    "project": "./tsconfig.eslint.json"
  },
  "plugins": ["@typescript-eslint", "jsdoc"],
  "ignorePatterns": [
    "node_modules/**",
    "src/types/*",
    "src/typescript/queries/*",
    "src/typescript/presenter/selected/*",
    "src/typescript/util/selected/*",
    "src/typescript/__mocks__/"
  ],
  "extends": [
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "@typescript-eslint/member-ordering": [
      "error",
      {
        "default": [
          "public-instance-method",
          "private-instance-method"
        ]
      }
    ],
    "@typescript-eslint/no-empty-function": "off",
    "@typescript-eslint/no-explicit-any": "off",
    "@typescript-eslint/no-floating-promises": "error",
    "@typescript-eslint/no-non-null-assertion": "off",
    "@typescript-eslint/no-unused-vars": [
      "error",
      {
        "argsIgnorePattern": "^_",
        "varsIgnorePattern": "^_",
        "caughtErrorsIgnorePattern": "^_"
      }
    ],
    "@prettier/arrow-parens": "off",
    "arrow-parens": "off",
    "jsdoc/require-jsdoc": [
      "error",
      {
        "publicOnly": true,
        "require": {
          "ArrowFunctionExpression": false,
          "ClassDeclaration": true,
          "ClassExpression": true,
          "FunctionDeclaration": false,
          "FunctionExpression": false,
          "MethodDefinition": false
        },
        "contexts": [
          "MethodDefinition",
          "TSDeclareFunction",
          "TSEnumDeclaration",
          "TSInterfaceDeclaration",
          "TSMethodSignature",
          "TSTypeAliasDeclaration"
        ],
        "checkGetters": true,
        "enableFixer": false
      }
    ],
    "no-console": "error"
  }
}
